body {
    font-family: 'Larsseit', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    color: #22356F;

    &__wraper {
        max-width: 1118px;
        margin: 20px auto 0 auto;
        min-height: 819px;
        background: #F4F9E2;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 6px 0 0 40px;
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
        line-height: 27px;
        letter-spacing: -0.035em;
        color: #62D0DF;
        margin: 0 0 38px 0;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 233px;
        height: fit-content;
        z-index: 20;

    }

    &__nav-item {
        font-size: 14px;
        line-height: 16px;
        &:hover {
            box-shadow: inset 0px -1px 0px #22356F;
        }
        padding: 12px 4px 10px 4px;
    }

    &__btn-contact {
        font-size: 14px;
        line-height: 16px;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #62D0DF;
        border-radius: 50px;
        color: #FFFFFF;
        position: relative;
        right: -33px;
        top: 0;
        z-index: 20;
    }

    &__body {
        display: flex;
    }

    &__section {
        margin: 182px 0 0 40px;
        flex: 0 0 484px;
    }

    &__title {
        font-size: 44px;
        font-weight: bold;
        line-height: 53px;
        letter-spacing: -0.035em;
        height: 167px;
        margin-bottom: 19px;
    }

    &__text {
        font-size: 24px;
        line-height: 42px;
        margin-bottom: 63px;
    }

    &__btns {
        display: flex;
        margin-bottom: 78px;
    }

    &__btn {
        text-decoration: none;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 38px;
        font-size: 16px;
        font-weight: bold;
        line-height: 23px;
        letter-spacing: 0.1em;
    }

    &__btn-who {
        color: #FFFFFF;
        background: #F9B640;
    }

    &__btn-what {
        color: #F9B640;
    }

    &__aside {
        background: url("images/2.png") 100% 0 no-repeat;
        position: relative;
        top: -90px;
        right: -12px;
    }
}

.why {
    
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    background: #62D0DF;

    &__section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 912px;
        padding: 12% 13% 6%;
        
    }

    &__title {
        font-size: 36px;
        line-height: 27px;
        letter-spacing: -0.006em;
        margin-bottom: 30px;
    }

    &__text {
        max-width: 540px;
        font-size: 22px;
        line-height: 35px;
        
    }

}

.about {
    color: #22356F;

    &__block {
        margin: 100px auto 76px auto;
        display: flex;
    }

    &__title {
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.06em;
        margin: 50px 0 0 106px;
    }

    &__text {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0.005em;
        max-width: 592px;
        margin: 56px 0 0 16%;
        
    }

    &__pretitle {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.06em;
        margin-bottom: 24px;
        opacity: 0.5;
    }

    &__cards {
        display: grid;
        grid-template: 360px / repeat(4, 360px);
        margin-bottom: 120px;
    }


    &__card-title {
        margin: 72px 52px 0 52px;
        padding: 24px 0 0 25px;
        box-shadow: inset 0px 1px 0px #FFFFFF; 
        position: relative;

        &::before {
            content: "";
            background: #E9B730;
            border-radius: 50%;
            width: 9px;
            height: 9px;
            position: absolute;
            left: 0;
            top: 35px;
        }
    }
}

.cards {
    display: grid;
    grid-template: repeat(2, 480px) / repeat(3, 480px);
    margin-bottom: 22px;

    &__title {
        margin: 96px 70px 0 70px;
        padding: 30px 120px 0 32px;
        box-shadow: inset 0px 1px 0px #FFFFFF; 
        position: relative;

        &::before {
            content: "";
            background: #E9B730;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            position: absolute;
            left: 0;
            top: 40px;
        }
    }
}
.card-title {
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;    
    
}

.pink {
    background: #FFE2DE;
}
.green {
    background: #C4E769;
}
.turquoise {
    background: #62D0DF;
}
.blue {
    background: #0052C1;
}

.dark-blue {
    background: #22356F;
}

.pic {
    background: url("images/4.png");
}

.light-purple {
    background: #DEE1FF;
}

.purple {
    background: #8F00FF;
}

.blocks {
    display: grid;
    grid-template: repeat(2, 240px) / repeat(3, 480px);
    color: #22356F;

    &__block {
        padding: 54px 76px 36px 104px;
    }

    &__title {
        font-size: 28px;
        line-height: 33px;
        letter-spacing: -0.03em;
        margin-bottom: 28px;
    }

    &__text {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: -0.03em;
        opacity: 0.5;
    }
}

.know {
    color: #22356F;
    display: flex;

    &__section {
        margin: 104px 0 42px 106px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__mini-title {
        margin-bottom: 50px;
        
    }

    &__text {
        max-width: 676px;
        font-size: 33px;
        font-weight: bold;
        line-height: 53px;
        letter-spacing: -0.01em;

        span {
            color: #62D0DF;
        }
    }

    &__link {
        color: #FAB63E;
    }
}

.contactus {
    color: #FFFFFF;
    background: #22356F;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;

    &__section {
        margin: 104px 100px 60px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 100px 0 80px;
    }

    &__mini-title {
        margin-bottom: 100px;
    }

    &__title {
        font-size: 64px;
        font-weight: bold;
        line-height: 94px;
        letter-spacing: -0.01em;
        padding-top: 100px;
    }

    &__text {
        font-size: 36px;
        line-height: 53px;
        letter-spacing: -0.005em;
        max-width: 579px;
    }

    &__link {
        color: #62D0DF;
    }
}

.mini-title {
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
}
.help-link {
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.contact {
    display: flex;

    &__section {
    }

    &__blocks {
        padding: 98px 50px 0 68px;
        display: flex;
    }

    &__block {
        margin-right: 86px;
    }

    &__title {
        font-size: 14px;
        line-height: 11px;
        letter-spacing: -0.006em;
        color: #22356F;
        margin-bottom: 58px;

    }

    &__text {
        font-size: 14px;
        line-height: 23px;
        letter-spacing: -0.006em;
        color: rgba(34, 53, 111, 0.5);
        max-width: 175px;
    }
}

.email {
    color: #0052C1;
}

.footer {
    background: #62D0DF;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    display: flex;
    padding: 34px 100px;


    &__copyright {
        margin: 0 6px 0 78px;
    
    }

    &__text {
    }
}
